body::-webkit-scrollbar {
	display: none;
}

.form-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
}

.contact-icon {
	background:rgb(182, 182, 182);
	border-radius: 10px;;
	margin: 10px;
}
.contact-icon:hover {
	background:rgb(117, 102, 102);
	border-radius: 10px;;
	margin: 10px;
}

.main-container {
	display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgba(128, 128, 128, 0.397);
}

@media only screen and (min-width: 750px) {

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

.navbar {
	font-size: 80px;
	position: fixed;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 90px;
	margin-left: 25px;
}

a, a:link, a:visited {
	padding: 10px;
	color: rgb(231, 231, 231)!important;
	text-decoration: none!important;
}
a:hover {
	cursor: pointer;
	color: rgb(133, 133, 133)!important;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.whole-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header {
	position: fixed;
	margin: auto;
	margin-top: -20px;
	padding-top: 20px;
    width: 100%;
    text-align: center;
    background: white;
    height: 70px;
	filter: drop-shadow(0px 10px 40px rgb(61, 61, 61))
}
.painting-container {
	background: white;
	padding: 2px 20px 10px 20px;
	margin: 10px;
	filter: drop-shadow(0px 10px 40px rgb(61, 61, 61))
}
#menu {
	background: grey;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.menu-item {
	margin: 10px;
	text-decoration: inherit;
	color: white;
}

a {
    text-decoration: inherit;
    color: white;
    cursor: auto;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

}


@media only screen and (max-width: 750px) {

	html, body {
		position: relative;
		width: 100%;
		height: 100%;
	}
	
	.navbar {
		font-size: 40px;
		position: fixed;
		bottom: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		left: 0;
		right: 0;
		
		z-index: 1;
		background: rgb(66, 66, 66);
	}
	
	a, a:link, a:visited {
		margin: 0 10px;
		padding: 5px;
		color: rgb(231, 231, 231)!important;
		text-decoration: none!important;
	}
	a:hover {
		cursor: pointer;
		color: rgb(133, 133, 133)!important;
	}
	
	main {
		margin: auto;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.whole-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	
	.header {
		position: fixed;
		margin: auto;
		margin-top: -20px;
		padding-top: 20px;
		width: 100%;
		text-align: center;
		background: white;
		height: 70px;
		filter: drop-shadow(0px 10px 40px rgb(61, 61, 61))
	}
	.painting-container {
		background: white;
		padding: 2px 20px 10px 20px;
		margin: 10px;
		filter: drop-shadow(0px 10px 40px rgb(61, 61, 61))
	}
	#menu {
		background: grey;
		color: white;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
	}
	.menu-item {
		margin: 10px;
		text-decoration: inherit;
		color: white;
	}
	
	a {
		text-decoration: inherit;
		color: white;
		cursor: auto;
	}
	
	body {
		color: #333;
		margin: 0;
		padding: 8px;
		box-sizing: border-box;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	}
	
	a {
		color: rgb(0,100,200);
		text-decoration: none;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	a:visited {
		color: rgb(0,80,160);
	}
	
	label {
		display: block;
	}
	
	input, button, select, textarea {
		font-family: inherit;
		font-size: inherit;
		-webkit-padding: 0.4em 0;
		padding: 0.4em;
		margin: 0 0 0.5em 0;
		box-sizing: border-box;
		border: 1px solid #ccc;
		border-radius: 2px;
	}
	
	input:disabled {
		color: #ccc;
	}
	
	button {
		color: #333;
		background-color: #f4f4f4;
		outline: none;
	}
	
	button:disabled {
		color: #999;
	}
	
	button:not(:disabled):active {
		background-color: #ddd;
	}
	
	button:focus {
		border-color: #666;
	}
	
	}